{
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 100
}
