@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

:root {
    --shadow: black;
    --primary: #141625;
    --secondary: #141625;
    --green-1: #00c58e;
    --green-2: #00e0a1;
    --shadow: 20px 20px 60px rgba(0, 0, 0, 0.192);
}

body,
html,
#app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

h1,
p,
small,
span {
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    background: #141625;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.app__header {
    background: #1f213a;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.2rem 1.4rem;
    border-radius: 7px;
    color: white;
    box-shadow: var(--shadow);
}

.app__header p {
    margin-top: 1rem;
}

.app__header a {
    color: white;
}

.app__content {
    padding: 1.5rem 2rem;
    border-radius: 7px;
    background: #1f213a;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
}

.content__radial {
    color: white;
}

.content__radial div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content__radial div small {
    font-size: 1.3rem;
    margin-right: 5px;
}

.content__radial div span {
    font-size: 2rem;
}

.content__controls {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.content__controls button {
    outline: none;
    border: none;
    padding: 0.4rem 2rem;
    font-size: 1.3rem;
    background: var(--green-2);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: transform ease-in 0.14s;
}

.content__controls button:hover:not(:disabled) {
    transform: scale(1.09);
}

.content__controls button:disabled {
    background: rgb(131, 131, 131);
}

.content__options {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.options__item {
    display: flex;
    margin: 1rem 0;
}

.options__item span {
    margin-bottom: 1rem;
}

.options__item .item__color {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.input-content {
    display: flex;
    align-items: center;
    position: relative;
}

.input span {
    margin-bottom: 0.5rem;
}

.input-content input {
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    padding-left: 1rem;
    height: 40px;
    width: 100px;
    background: rgba(0, 0, 0, 0.103);
    color: white;
}

.input__actions {
    display: flex;
    flex-direction: column;
}

.input__actions button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: ease-in 0.05s;
}

.input__actions button:hover {
    background: rgba(255, 255, 255, 0.048);
}

.input__actions button img {
    filter: invert(1);
}

.input__actions button:first-child img {
    transform: rotate(90deg);
}

.input__actions button:last-child img {
    transform: rotate(270deg);
}

@media only screen and (min-width: 1201px) {
    #app {
        padding-left: 10rem;
        padding-right: 10rem;

    }
}


@media only screen and (max-width: 1200px) {
    #app {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    #app {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}